html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    @extend %poppins-500;
}

main {
    flex-grow: 1;
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}


.title {

}

