$header: #436372;
$hover: #a3bbc8;
$footer:#7b7b7b;
$title:#191919;
$border:#f6f6f6;

%poppins-400 {
    font-family: 'Poppins-Regular';
    font-weight: 400;
}
%poppins-500 {
    font-family: 'Poppins-Medium';
    font-weight: 500;
}
%poppins-600 {
    font-family: 'Poppins-SemiBold';
    font-weight: 600;
}
%poppins-700 {
    font-family: 'Poppins-Bold';
    font-weight: 700;
}




@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

