@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'media';
@import 'global';


.header{
    margin-top: 20px;
    // min-height: 78px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    background-color: #fff;
    padding-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1110px;
    min-height: 78px;
    margin: 0 auto;
    position: fixed;
    &__wrapper{
        margin-left: 170px;
    }
    &__items{
        display: flex;
        padding-right: 50px;
    }
    &__item{
        margin-right: 24px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__link{
        font-size: 14px;
        line-height: 28px;
        transition: all 0.9s;
        padding-bottom: 5px;
        color: #2F281E;
        @extend %poppins-400;
        &:hover{
            border-bottom: 1px solid #2F281E;
        }
    }
    &__btns{
        margin-right: 10px;
    }
    &__btn-in{
        padding: 10px 24px;
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        font-size: 16px;
        line-height: 24px;
        color: #173A56;
        cursor: pointer;
        &:hover{
            background-color: #d7dde4;
        }
    }
    &__btn-up{
        padding: 11px 24px;
        background: #FF9900;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        margin-left: 10px;
        cursor: pointer;
        &:hover{
            background-color: #ffac2e;
        }
    }
    &__btns-mob{
        display: none;
    }
    &__gamburger{
        display: none;
        position: absolute;
        right: 30px;
        top: 60%;
        transform: translateY(-50%);
        width: 60px;
        height: 40px;
        padding: 5px;
        cursor: pointer;
        & span{
            display: block;
            height: 2px;
            width: 100%;
            background-color: #2F281E;
            margin-bottom: 5px;
            transition: all 0.5s;
        }
    }
    &__gamburger-active{
        padding: 10px;
        width: 60px;
        span{
            margin-bottom: -2px;
        }
        span:nth-child(1){
            transform: rotate(-45deg);
        }
        span:nth-child(2){
            display: none;
        }
        span:nth-child(3){
            transform: rotate(45deg);
        }
    }
}

.content{
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    &__descr{
        max-width: 518px;
        margin-top: 81px;
    }
    &__title{
        font-size: 44px;
        line-height: 54px;
        color: #2F281E;
        @extend %poppins-700;
    }
    &__text{
        margin-top: 30px;
        font-size: 18px;
        line-height: 28px;
        color: #544837;
        @extend %poppins-400;
        max-width: 458px;
    }
    &__btns{
        margin-top: 45px;
    }
    &__btn-start{
        background: #FF9900;
        border-radius: 4px;
        padding: 15px 41px;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        @extend %poppins-700;
        cursor: pointer;
        &:hover{
            background-color: #ffac2e;
        }
    }
    &__btn-video{
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #FF9900;
        @extend %poppins-600;
        margin-left: 30px;
        padding-left: 29px;
        position: relative;
        cursor: pointer;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-left: 20px solid #FF9900;
            border-bottom: 12px solid transparent;
            z-index: -1;
            left: 0;
            top: 0;
            border-radius: 3px;
            transition: all .5s;
        }
        &:hover:before{
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
    }
}





@import 'media';

























